{% extends 'rentals/layout.html' %}

{% block body-content %}
<div class="container">
    <div class="row">
        <div class="header m-3">
            <h3>Add Building Tenant</h3>
        </div>
        <form action="{% url 'addbtenants' %}" method="post">
        {% csrf_token %}
            <div class="row from-group p-2">
                <label for="building"> Name
                    <select class="form-select" name="building" id="building">
                        {% for building in buildings %}
                        <option value="{{building.id}}">{{building.name}}</option>
                        {% endfor %}
                    </select>
                    
                </label>
            </div>
            <div class="row from-group p-2">
                <label for="tenant"> Tenant
                    <select class="form-select" name="tenant" id="tenant">
                        {% for tenant in tenants %}
                        <option value="{{tenant.id}}">{{tenant.name}}</option>
                        {% endfor %}
                    </select>
                    
                </label>
            </div>
            <div class="row from-group p-2">
                <label for="date"> Check in date
                    <input class="form-control" id="date" name="date" type="date">
                </label>
            </div>
            <div class="row from-group p-2">
                <label for="amount"> Contract Amount
                    <input class="form-control" id="amount" name="amount" type="number">
                </label>
            </div>
            <div class="row from-group p-2">
                <label for="status"> Status
                    <select class="form-select" name="status" id="status">
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                    </select>
                </label>
            </div>
            <div class="form-group p-3">
                <button class="btn btn-primary p-2">Add Building Tenant</button>
            </div>
        </form>
    </div>
</div>
{% endblock body-content %}