{% extends 'rentals/layout.html' %}

{% block body-content %}
<div class="container">
    <div class="row all p-3">
    {% if messages %}
    <div class="alert alert-success">
        {{messages}}
    </div>
    {% endif %}
        
        <table style="border: 1px Solid black!important;" class="table table-bordered table-striped">
        <thead>
            <tr>
                <h5>All Buildings</h5>
            </tr>
        </thead>
            <thead>
                <tr>
                    <th>Building</th>
                    <th>Tenant</th>
                    <th>Date</th>
                    <th>Amount </th>
                    <th>Status </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for b_tenant in building_tenants %}
                <tr>
                    <td>
                        {{b_tenant.building}}
                    </td>
                    <td>
                        {{b_tenant.tenant}}
                    </td>
                    <td>
                        {{b_tenant.check_in_date}}
                    </td>
                     <td>
                        {{b_tenant.contract_amount}}
                    </td>
                    <td>
                        {{b_tenant.status}}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'update_building_tenant' b_tenant.id%} "><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body-content %}