{% extends 'rentals/layout.html' %}

{% block body-content %}
<div class="container">
    <div class="row all p-3">
    {% if messages %}
    <div class="alert alert-success">
        {{messages}}
    </div>
    {% endif %}
        
        <table style="border: 1px Solid black!important;" class="table table-bordered table-striped">
        <thead>
            <tr>
                <h5>All Tenants </h5>
            </tr>
        </thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Next of Kin </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for tenant in tenants %}
                <tr>
                    <td>
                        {{tenant.name}}
                    </td>
                    <td>
                        {{tenant.email}}
                    </td>
                    <td>
                        {{tenant.phone}}
                    </td>
                    <td>
                        {{tenant.next_of_kin}}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'updateTenant' tenant.id %}"><i class="fa fa-pencil"></i>Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body-content %}